* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    place-items: center;

    height: 400px;
    
    border: 5px solid olive;
    background-color: orangered;
    font-family: 'Courier New', Courier, monospace;
}

.search-div {
    text-align: center;
    align-items: center;
}